<div class="wrapper">
  <div class="container">
    <div class="logo">
      <img src="./assets/logo-footer.svg" alt="" />
    </div>
    <ul class="navbar">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li>
        <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      </li>
      <li>
        <a routerLink="/contact-me" routerLinkActive="active">Contact-Me</a>
      </li>
    </ul>
    <ul class="socials">
      <li>
        <a href="https://github.com/lappranti" target="_blank"
          ><i class="bi bi-github"></i
        ></a>
      </li>
      <li>
        <a href="https://wa.me/%2B221775050123" target="_blank"
          ><i class="bi bi-whatsapp"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/sarre-ndeury-02054214a/"
          target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
