<div class="wrapper">
  <div class="container">
    <div class="logo">
      <img src="./assets/logo.svg" alt="" routerLink="/home" routerLinkActive="selected" />
    </div>
    <ul class="link" [ngClass]="showMenu ? 'active' : ''">
      <li class="link__item">
        <a routerLink="/home" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"
          (click)="showMenu = false">Home</a>
      </li>
      <li class="link__item">
        <a routerLink="/portfolio" routerLinkActive="selected" (click)="showMenu = false">Portfolio</a>
      </li>
      <li class="link__item">
        <a routerLink="/contact-me" routerLinkActive="selected" (click)="showMenu = false">Contact Me</a>
      </li>
    </ul>
    <div class="menu-burger" (click)="handleToggleMenu()" [ngClass]="showMenu ? 'active' : ''">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>