@import "../../utilities/style";
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 150px;

  * {
    transition: all 0.4s ease-in-out;
  }

  @media only screen and (max-width: $mobile) {
    gap: 80px;
  }
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media only screen and (max-width: $mobile) {
    gap: 72px;
  }
}

.projet {
  display: flex;
  column-gap: 100px;

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  &__image,
  &__description {
    flex: 1;
  }

  &__image {
    display: flex;
    align-items: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    color: $GrayishDarkBlue;
    border-top: 1px solid #33323d15;
    border-bottom: 1px solid #33323d15;
    padding: 32px 0;

    h2 {
      margin-bottom: 4px;
      @include heading("h2");
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;

      opacity: 0.8;
    }

    a {
      width: 175px;
      height: 48px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: transparent;
      border: 1px solid $GrayishDarkBlue;

      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;

      transition: all 0.3s ease;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    @media only screen and (max-width: 790px) {
      gap: 16px;
    }
  }

  @media only screen and (max-width: 850px) {
    column-gap: 40px;
  }

  @media only screen and (max-width: $tablet) {
    flex-direction: column;

    &:nth-of-type(2n) {
      flex-direction: column;
    }
    gap: 24px;

    max-width: 540px;

    &__description {
      // padding: 24px;
      gap: 24px;
      border-top: none;

      h2 {
        @include heading("h2");
      }
    }
  }
}
