<div class="wrapper">
  <div class="container">
    <!--HERO CONTENT-->
    <div class="hero-container el-animated">
      <img
        class="img-hero"
        src="./assets/homepage/desktop/image-homepage-hero@2x.jpg"
        alt=""
        *ngIf="windowSize > 768"
      />
      <img
        class="img-hero"
        src="./assets/homepage/tablet/image-homepage-hero@2x.jpg"
        alt=""
        *ngIf="windowSize > 375 && windowSize <= 768"
      />
      <img
        class="img-hero"
        src="./assets/homepage/mobile/image-homepage-hero@2x.jpg"
        alt=""
        *ngIf="windowSize <= 375"
      />
      <div class="hero-content">
        <div class="profil">
          <h1>
            Hello, I am Ndeury Sarré.
          </h1>
          <span class="job">
            Web and mobile developer...
          </span>
        </div>
        <a class="btn-about-me" (click)="scrollToSection()">
          <span> <img src="./assets/down-arrows.svg" alt=""/></span>
          <span>About Me</span>
        </a>
      </div>
    </div>
    <!--ABOUT CONTENT-->
    <div class="about" id="about-me">
      <div class="about__image">
        <img src="./assets/homepage/desktop/mon-pp.svg" alt="photo de profil" />
      </div>
      <div class="about__description">
        <div class="text">
          <h1>Introduction</h1>
          <p>
            I'm a junior developer specializing in front-end development, with a
            particular expertise in web technologies such as Angular and React.
            My skillset encompasses creating interactive experiences for web and
            mobile platforms, as well as optimizing performance for smooth user
            interfaces.
          </p>
        </div>
        <div class="text">
          <h1>Career Aspirations</h1>
          <p>
            I'm open to exciting new opportunities in the world of web and
            mobile development. My goal is to contribute to innovative projects
            and continue enhancing my skills to provide genuine value to any
            team or company looking to deliver exceptional user experiences on
            the web and mobile devices.
          </p>
        </div>
        <a routerLink="/portfolio">GO TO PORTFOLIO</a>
      </div>
    </div>

    <!--INTERESTED-->
    <app-interested></app-interested>
  </div>
</div>
