/* You can add global styles to this file, and also import other style files */
@import "../node_modules/minireset.css/minireset.min.css";
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans:wght@400;700&display=swap");

html,
* {
  font-style: normal;
  font-family: "Public Sans";
  box-sizing: border-box;
  scroll-behavior: smooth;
}
